[user]
    name = pete
    email = petersag3+commits@gmail.com
[init]
    defaultBranch = main
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[color]
    ui = auto
[pull]
    rebase = false
[push]
    default = current
[credential]
    helper = osxkeychain
